.bg-blue{
    background-color: transparent!important;
}

*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* TEXT HOMEPAGE */

.formula_home {
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.formula_home:hover {
    border: 1px solid #ed2021;
    background: #ed2021;
}


.anything h1{
    color:red;
}

.anything h3 {
    font-weight: bold;
    color:#e54726;
    text-decoration: underline;
    text-align: left;
}




a img{
    width:170px;
}

.navbar_background{
    position: fixed;
    width:100%;
    top:0;
    left:0;
    background: rgb(65, 62, 62);
    z-index: 3;
    height: fit-content;
}

.navBar {
    display:block;
}

.nav {
    position: fixed;
    width:100%;
    top:0;
    left:0;
    display:flex;
    transition: 1s;
    padding: 0px 5%;
    z-index: 3;
}

.Link {
    white-space: nowrap;
}

.navBar > a, .navBar > div, .navBar > i {
    display: inline-block;
}
#NavLinks{
    display: inline;
}

#NavLinks2{
    display: inline;
}

.navBar_2{
    display: block;
}
nav.black{
    background: rgb(65, 62, 62);
}

.nav_links {
    flex:1;
    text-align: right;
}

.nav_links ul {
    position: relative;
    display: flex;
    justify-content:flex-start;
    padding: 0 6%;
}

.nav_links ul .Link{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
}

.nav_links ul .Link a {
    color:white;
    text-decoration: none;
    font-size: 15px;
}

.nav_links ul .Link::after{
    content:'';
    width:0%;
    height:2px;
    background: red;
    display:block;
    margin: auto;
    transition: 0.5s;
}

.nav_links ul .Link:hover::after{
    width: 100%;
}

html, body{
    margin: 0px;
}

.navBar_2{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    background: rgb(65, 62, 62);
    z-index: 3;
    position:relative;
    visibility: hidden;
}

nav .fa-solid{
    display: none;
}

.header2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

@media(max-width:1000px){
    .header{
        background-image: url('../assets/images/Untitled-1\ copy.jpg');
    }
    .text-box h1{
        font-size: 20px;
    }

    .Link {
        white-space: wrap;
    }

    .nav_links ul .Link{
        display: block;
    }

    .nav_links{
        position: absolute;
        background: rgb(65, 62, 62);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .nav_links ul .Link::after{
        background:yellow;
    }

    nav .fa-solid {
        display: inline-block;
        color: white;
        font-size: 22px;
        margin:10px;
        cursor: pointer;
        float:right;
        padding:10px;
    }

    .nav_links ul{
        padding: 30px;
        display:block;
    }

    .nav_links ul .Link:hover .subFormula {
        background: #ed2021;
    }

    .nav_links ul .Link:hover .subFormula ul{
        padding:0;
        padding-left: 20px;
        padding-right: 10px;
    }

    /* Version 2*/
    .nav_links2 {
        flex:1;
        text-align: right;
    }

    .nav_links2 ul{
        list-style-type: none;
    }

    .nav_links2 ul .Link{
        list-style: none;
        display: inline-block;
        position: relative;
        padding: 8px 12px;
        text-decoration: none;
        color: white;
    }

    .nav_links2 ul .Link a {
        color:white;
        text-decoration: none;
        font-size: 15px;
    }

    .nav_links2 ul .Link::after{
        content:'';
        width:0%;
        height:2px;
        background: red;
        display:block;
        margin: auto;
        transition: 0.5s;
    }

    .nav_links2 ul .Link:hover::after{
        width: 100%;
    }

    .nav_links2 ul .Link:hover .subFormula {
        display: block;
        position: absolute;
        background: rgb(65, 62, 62);
        margin-left: -42px;
        /* text-align: left; */
    }

    .nav_links2 ul .Link:hover .subFormula ul {
        display: block;
        margin: 10px;
        margin-left: -30px;

    }

    .nav_links2 ul .Link{
        display: block;
    }

    .nav_links2{
        position: absolute;
        background: rgb(65, 62, 62);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .nav_links2 ul .Link::after{
        background:yellow;
    }

    .nav_links2 ul{
        padding: 30px;
        display:block;
    }

    .nav_links2 ul .Link:hover .subFormula {
        background: #e54726;
        margin-left: -42px;
        padding-right: 100px;
        z-index: 3;
    }

    .nav_links2 ul .Link:hover .subFormula ul{
        padding:0;
        padding-left: 20px;
        padding-right: 10px;
    }

    .nav_links2 ul .Link:hover .subFormula .Link{
        width: fit-content;
        margin-left: 10px;
    }
}


